@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

/*Asterix is the universal selector*/
* {
    box-sizing: border-box; /* So that if we add any padding or border to an element, it doesnt affect the width of it*/   
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;   /*To center everything*/
    align-items: center;
    justify-content: center;/*Won't move to the center vertically if the body doesn't have a height on it*/
    height: 100vh; /*Take entire height of the browser*/
    overflow: hidden; /*scroll bars not to show by default*/
}

.container {
    display: flex;
    width: 90vw;
}

.panel {
    background-size: cover;/*To preserve rounded corners on large screens*/
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position:relative;
    transition: flex 0.7s ease-in;
}
 
.panel h3 {
    font-size: 25px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
}

.panel.active h3 {
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
    
}

@media (max-width: 480px) {
    .container{
        width: 100vw;
    }

    .panel:nth-of-type(4),
    .panel:nth-of-type(5),
    .panel:nth-of-type(6) {
        display: none;
    }
}

